<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-light"
						th:href="@{'/ver/' + ${reparacion.cliente.rut}}"
						th:text="'&laquo; Volver'"></a>
				</h4>

				<form th:action="@{/reparacion/form/}" th:object="${reparacion}"
					method="post">

					<div class="form-group row">
						<label for="cliente" class="col-sm-2 col-form-label"
							th:text="'Cliente'"></label>
						<div class="col-sm-6">
							<input name="cliente"
								th:value="${reparacion.cliente.nombres} + ' ' + ${reparacion.cliente.apellido_paterno} + ' ' + ${reparacion.cliente.apellido_materno}"
								class="form-control" disabled='disabled' />
						</div>
					</div>

					<div class="form-group row">
						<label for="fecha_estimada" class="col-sm-2 col-form-label"
							th:text="'Fecha Estimada'"></label>
						<div class="col-sm-6">
							<input type="date" th:field="*{fecha_estimada}"
								class="form-control" th:errorclass="'form-control is-invalid'" />
							<div class="invalid-feedback"
								th:if="${#fields.hasErrors('fecha_estimada')}"
								th:errors="*{fecha_estimada}"></div>
						</div>
					</div>

					<div class="form-group row">
						<label for="buscar_producto" class="col-sm-2 col-form-label"
							th:text="'Buscar Producto'"></label>
						<div class="col-sm-6">
							<input type="text" name="buscar_producto" id="buscar_producto"
								class="form-control" />
						</div>
					</div>

				<table th:replace="/reparacion/plantilla-items :: itemsReparacion"></table>

					<table id="cargarItemProductos"
						class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>NOMBRE PRODUCTO</th>
								<th>VALOR REPA</th>
								<th>CANTIDAD</th>
								<th>TOTAL</th>
								<th>ELIMINAR</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
					<h5>
						Total <span class="badge badge-secondary" id="gran_total">0</span>
					</h5>

					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-secondary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="/reparacion/js/autocomplete-productos :: javascript"></script>

</body>
</html>