<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<table th:fragment="itemsReparacion" class="d-none">

		<tbody id="plantillaItemsReparacion">
			<tr id="row_{ID}">
				<td class="d-none"><input type="hidden" value="{ID}"
					name="item_id[]" /></td>
				<td>{NOMBRE}</td>
				<td>{PRECIO_REPARACION}</td>
				<td><input type="number" value="1" name="cantidad[]"
					id="cantidad_{ID}" class="form-control col-sm-4" onchange="itemsHelper.calcularImporte({ID}, {PRECIO_REPARACION}, this.value);"/></td>
				<td><span id="total_importe_{ID}">0</span></td>
				<td><a href="#" class="btn btn-danger btn-sm" onclick="itemsHelper.eliminarLineaReparacion({ID});">x</a></td>
			</tr>

		</tbody>

	</table>

</body>
</html>