<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<div class="container py-4">


		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">


				<h4 class="card-title">
					<a th:href="@{'/ver/' + ${boleta.cliente.rut}}"
						class="btn btn-light btn-xs">&laquo; Volver</a>
				</h4>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-primary"
						th:text="'Datos del cliente'"></li>
					<li class="list-group-item" th:text="${boleta.cliente.rut}"></li>
					<li class="list-group-item" th:text="${boleta.cliente.email}"></li>
				</ul>

				<ul class="list-group my-2">
					<li class="list-group-item list-group-item-success"
						th:text="'Datos de la Boleta'"></li>
					<li class="list-group-item" th:text="'N° Boleta: ' + ${boleta.id}"></li>
					<li class="list-group-item"
						th:text="'Descripción: ' + ${boleta.descripcion}"></li>
					<li class="list-group-item"
						th:text="'Fecha: ' + ${boleta.createAt}"></li>
				</ul>
				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(boleta.items)}"
					th:text="'No hay lineas para la Boleta' + ${boleta.descripcion}"></div>

				<table th:if="${not #lists.isEmpty(boleta.items)}"
					class="table table-striped table-hover table-bordered my-3">
					<thead>
						<tr>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="linea: ${boleta.items}">
							<td th:text="${linea.producto.nombre}"></td>
							<td th:text="${linea.producto.precio}"></td>
							<td th:text="${linea.cantidad}"></td>
							<td th:text="${linea.calcularImporte()}"></td>
						</tr>
					</tbody>

				</table>

				<a th:href="@{'/ver/' + ${boleta.cliente.rut}}"
					class="btn btn-light btn-xs">&laquo; Volver</a>

			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>