<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<p>
			<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/create}" class="btn btn-success btn-xs">Crear
				Cliente</a>
		</p>
		<table class="table table-striped">
			<thead class="bg-light">
				<tr>
					<th sec:authorize="hasRole('ROLE_USER')">RUT</th>
					<th>NOMBRES</th>
					<th>A. PATERNO</th>
					<th>A. MATERNO</th>
					<th>EMAIL</th>
					<th>FECHA</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">EDITAR</th>
					<th sec:authorize="hasRole('ROLE_ADMIN')">ELIMINAR</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="cliente: ${clientes}">
					<td><a class="btn btn-primary btn-xs"
						th:href="@{/ver/} + ${cliente.rut}" th:text="${cliente.rut}"></a></td>
					<td th:text="${cliente.nombres}"></td>
					<td th:text="${cliente.apellido_paterno}"></td>
					<td th:text="${cliente.apellido_materno}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.createAt}"></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs"
						th:href="@{/form/} + ${cliente.rut}" th:text="'Editar'"></a></td>
					<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs"
						th:href="@{/eliminar/} + ${cliente.rut}" th:text="'Eliminar'"
						onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
				</tr>
			</tbody>

		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>