<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}">Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<div class="container py-4">

		<div class="card bg-light">
			
			<div class="card-body">
				<table>
					<tr>
						<td>
							<h4 class="card-title">
								<a class="btn btn-primary"
									th:href="@{/boleta/form/} + ${cliente.rut}"
									th:text="'Realizar Compra'"></a>
							</h4>
						</td>

						<td>
							<h4 class="card-title">
								<a class="btn btn-primary"
									th:href="@{/reparacion/form/} + ${cliente.rut}"
									th:text="'Realizar Reparacion'"></a>
							</h4>
						</td>
						
						<td>
							<h4 class="card-title">
								<a class="btn btn-primary"
									th:href="@{/arriendo/form/} + ${cliente.rut}"
									th:text="'Realizar Arriendo'"></a>
							</h4>
						</td>
					</tr>
				</table>
		
			<div class="card-header" th:text="${titulo}"></div>
			
				<ul class="list-group">
					<li class="list-group-item active" th:text="${cliente.nombres}"></li>
					<li class="list-group-item" th:text="${cliente.apellido_paterno}"></li>
					<li class="list-group-item" th:text="${cliente.apellido_materno}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.createAt}"></li>
				</ul>

				<div th:if="${#lists.isEmpty(cliente.boletas)}"
					class="alert alert-info my-4"
					th:text="'No hay Boletas asignadas para el cliente ' + ${cliente.nombres} + ' ' + ${cliente.apellido_paterno} + ' ' + ${cliente.apellido_materno}"></div>

				<table th:if="${not #lists.isEmpty(cliente.boletas)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
						<tr>
							<th>N° Boleta</th>
							<th>Descripcion</th>
							<th>Fecha</th>
							<th>Ver</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="boleta: ${cliente.boletas}">
							<td th:text="${boleta.id}"></td>
							<td th:text="${boleta.descripcion}"></td>
							<td th:text="${boleta.createAt}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/boleta/ver/} + ${boleta.id}" th:text="'Detalle'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/boleta/eliminar/} + ${boleta.id}"
								th:text="'Eliminar'"
								onclick="return confirm('¿Estas seguro que desea eliminar la boleta?');"></a></td>
						</tr>
					</tbody>

				</table>

				<div th:if="${#lists.isEmpty(cliente.reparaciones)}"
					class="alert alert-info my-4"
					th:text="'No hay Reparaciones asignadas para el cliente ' + ${cliente.nombres} + ' ' + ${cliente.apellido_paterno} + ' ' + ${cliente.apellido_materno}"></div>

				<table th:if="${not #lists.isEmpty(cliente.reparaciones)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
						<tr>
							<th>N° Reparacion</th>
							<th>Fecha Estimada</th>
							<th>Fecha</th>
							<th>Ver</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="reparacion: ${cliente.reparaciones}">
							<td th:text="${reparacion.id}"></td>
							<td th:text="${reparacion.fecha_estimada}"></td>
							<td th:text="${reparacion.createAt}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/reparacion/ver/} + ${reparacion.id}"
								th:text="'Detalle'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/reparacion/eliminar/} + ${reparacion.id}"
								th:text="'Eliminar'"
								onclick="return confirm('¿Estas seguro que desea eliminar la Reparacion?');"></a></td>
						</tr>
					</tbody>

				</table>
				<div th:if="${#lists.isEmpty(cliente.arriendos)}"
					class="alert alert-info my-4"
					th:text="'No hay Arriendos asignadas para el cliente ' + ${cliente.nombres} + ' ' + ${cliente.apellido_paterno} + ' ' + ${cliente.apellido_materno}"></div>

				<table th:if="${not #lists.isEmpty(cliente.arriendos)}"
					class="table table-bordered table-striped my-4">
					<thead class="thead-dark">
						<tr>
							<th>N° Arriendo</th>
							<th>Fecha Desde</th>
							<th>Fecha Hasta</th>
							<th>Fecha Creacion</th>
							<th>Ver</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="arriendo: ${cliente.arriendos}">
							<td th:text="${arriendo.id}"></td>
							<td th:text="${arriendo.fecha_desde}"></td>
							<td th:text="${arriendo.fecha_hasta}"></td>
							<td th:text="${arriendo.createAt}"></td>
							<td><a class="btn btn-primary btn-sm"
								th:href="@{/arriendo/ver/} + ${arriendo.id}"
								th:text="'Detalle'"></a></td>
							<td><a class="btn btn-danger btn-sm"
								th:href="@{/arriendo/eliminar/} + ${arriendo.id}"
								th:text="'Eliminar'"
								onclick="return confirm('¿Estas seguro que desea eliminar el Arriendo?');"></a></td>
						</tr>
					</tbody>

				</table>

			</div>
		</div>

	</div>
</body>
</html>